# compiled output
/dist
/node_modules

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.*
!.env.example

# OS
.DS_Store

# IDEs
.idea
.vscode

# tests
/coverage
/.nyc_output

*.tsbuildinfo
